@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    border: 0;
}
body{
    background-color: #011627;
}

h2, label, div{
    color: #7FDBCA
}
p, li{
    color: white;
}

.container{
    display: flex;
}

.sidebar{
    position: absolute;
    background-color: #7FDBCA;
    font-family: 'Fira Sans', sans-serif;
    width: 300px;
    height: 100vh;
    transition: 0.5s;
}

.sidebar nav ul{
    padding:60px;
}
.sidebar nav li{
    list-style: none;
    padding: 30px 0;
    font-size: 25px;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.sidebar nav li a:hover{
    color: #f1f1f1;
}

.main{
    /* background-color: blueviolet; */
    width: 100vw;
}

.infoContainer{
    height: 58vh;
    width: 80vw;
    margin: 120px 0;
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.devInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}
.hello{
    font-size: 30px;
}
.name{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.moreAbout{
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 20px;

}
.content{
    margin: 120px 0;
    padding: 0 50px;
    justify-content: space-around;
}

.buttons{
    margin-top:35px;
}
.buttons button{
    padding: 9px 30px;
    margin: 0 6px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #7FDBCA;
    cursor: pointer;
}

.devPic img{
    height:58vh;
}

.contactForm{
    margin: 120px 50px;
    padding: 0 50px;
}

.contactForm h2{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

.contactForm form div{
    font-family: 'Fira Sans', sans-serif;
    padding: 10px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    width: 60vh;
}

.contactForm form div button{
    width: 20vh;
    padding: 5px;
    background-color: #7FDBCA;
    color: white;
}
.contactForm form div button:hover{
    cursor: pointer;
}

.form-control{
    outline:auto;
}
#emailHelp{
    font-size: 10px;
    color: red;
    text-align: left;
    margin: 0px;
    padding-top: 7px;
}
.contactForm .form-check{
    display: flex;
    flex-direction: row;
}
h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 30px;
    font-size: 30px;
}

p{
    font-family: 'Source Code Pro', monospace;
    margin: 30px;
    font-size: 15px;
}

.skillitem{
    margin: 0 30px;
    display: flex;
    font-size: 15px;
    align-items: center;
}
.skill{
    background-color: red;
    width: 50px;
    height: 10px;
    
}
.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute; 
}
.ham{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    font-size: 30px;
    text-decoration: none;
    color: turquoise;
}

.cross{
    color: #f1f1f1;
    font-size: 65px;
    margin-left: 240px;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    left: 10px;
}

@media(max-width: 1368px){
    .devPic{
        display: none;
    }
}
@media (max-width: 1258px) {
    .sidebar{
        width: 200px;
    }
    .sidebar ul{
        padding: 50px 30px;
    }
    .cross{
        margin-left: 156px;
    }
  }